# Web framework
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
Flask-Session==0.8.0
Flask-Migrate==4.1.0
Werkzeug==2.2.3

# DB Checkpointing
SQLAlchemy==2.0.39
langgraph==0.2.52
langgraph-checkpoint==2.1.2
langgraph-checkpoint-sqlite==2.0.11

# PDF Processing & OCR
PyMuPDF==1.25.4
pytesseract==0.3.13
pdf2image==1.17.0
pillow==10.4.0

# API Integrations & Web Search
google-api-python-client==2.164.0
python-dotenv==1.0.1
serpapi==1.0.2
googletrans==4.0.2
groq==1.0.0

# Audio & Video Processing (Interview Agent)
numpy==1.26.4
ffmpeg-python==0.2.0
faster-whisper==1.0.3
librosa==0.10.2.post1
opencv-python-headless==4.11.0.86

# Configuration & Typing Helpers
pydantic==2.10.6
pydantic-settings==2.8.1
